:root {
    --color-primary: #8b6914;
    --color-secondary: #ebc871;
    --color-time: rgb(79, 78, 78);
    --color-text: #e8e6e3;
    --color-bg: #181a1b;
    --spacing: 20px;
    --radius: 14px;
}

* {
    color: var(--color-text);
    text-transform: capitalize;
}

img {
    height: 227px;
    width: 400px;
    object-fit: cover;
}

html {
    min-height: 100%;
}

body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: var(--color-bg);
    width: 100%;
    min-height: 100%;
    bottom: 0;
    display: inline-flex;
}

main {
    margin: 0;
    align-self: center;
    margin: auto;
    gap: 40px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    width: 100%;
    padding: 40px 60px;
}

.entry {
    display: inline-flex;
    transition: transform 0.2s;
    display: inline-block;
}

#textbox {
    padding: 0 10px;
}

label,
length {
    margin: 0;
}

.entry:hover {
    transform: scale(1.2);
    z-index: 100;
    cursor: pointer;
}

footer {
    bottom: 0;
    width: 100%;
    position: absolute;
    padding-block: 30px;
    text-align: center;
}

h4 {
    margin-block: 5px;
}
